{% extends "docs" %}
    {% block body %}<h1 id="skill-name">Skill Name</h1>
<p>DESCRIPTION</p>
<p>Embed youtube videos: <iframe width="560" height="315" src="https://www.youtube.com/embed/V-_O7nl0Ii0?start=16" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

                {% endblock %}
                