<footer>
  <ul>
    <li><a href="/help">Help</a></li>
    <li><a href="/code-of-conduct">Code of Conduct</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="https://github.com/MoreTacos/skilltree">Code</a></li>
    <li><a href="https://daviderad.com/">© 2021 Davide Radaelli</a></li>
  </ul>
</footer>
