<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SkillTree - A tech tree for gymnastics</title>
        <link rel="stylesheet" href="/static/style.css">
        <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    </head>
    <body>
      {{>header}}
      <main>
        {{~> body}}
      </main>
    {{>footer}}
    </body>
</html>
