* {
    color: red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #007bff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nobile', Georgia, Times, serif;
}

p, div, li {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.main-header h5 {
    padding: 0.5em;
}

header {
    display: flex;
    background: #e0e0e0;
    padding: 0.8em;
}

header h5 {
    padding-right: 2em;
    font-size: 1.2em;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    align-self: center;
    padding: 0.6em;
}

header ul li a {
    padding: 0.5;
}

body {
    background: url(/static/img/cream_dust.png) repeat 0 0;
}

.container {
    padding: 1em;
}

main h5 {
    padding-top: 2em;
}

main h1 {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

main ul {
    list-style: none;
}

main ul li {
    padding-bottom: 1em;
}

main h3 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

main h2 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

main img {
    padding-top: 1em;
    padding-bottom: 2em;
    max-height: 30vh;
    max-width: 95vw;
}

main p {
    padding-bottom: 1em;
}

.user-list li {
    padding-left: 1em;
}

.tree {
    width: 100%;
    overflow: scroll;
    border: 1px solid black;
}

input[type=range] {
  width: 80%;
}

svg {
    background-color: rgba(255, 255, 255, 0) !important;
}

svg a {
    color: black;
}

footer {
    width: 100%;
}

footer ul {
    list-style: none;
    justify-content: space-evenly;
    background: #e0e0e0;
    padding: 0.5em;
    font-size: 0.8em;
    padding-left: 3em;
}

footer ul li {
    padding: 0.2em;
}
