{% extends "layout" %}

{% block body %}
<div class="container">
    <h1>{{ username }}</h1>
    <ul class="tabs">
    {% for tab in tabs %}
        <li><a href="/demo?s={{ tab.url }}">{{ tab.name }}</a></li>
    {% endfor %}
    </ul>
    <div class="tree">{% block tree %}{{ super() }}{% endblock %}</div>
</div>
<script src="/static/demo.js"></script>
{% endblock %}
