<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>SkillTree — Plan Your Progress</title>
        <link rel="stylesheet" href="/static/style.css"></link>
        <link href="http://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
      <header class="main-header">
        <div class="logo">
          <img src="./static/img/logo.svg" alt="Logo" />
          <p>SkillTree</p>
        </div>
        <ul>
        {% if isindex %}
          <li><a href="/"><p>Discover</p></a></li>
          <li><a href="/login"><p>Join</p></a></li>
        {% endif %}
        {% if iscoach %}
          <li><a href="/"><p>My Athletes</p></a></li>
        {% endif %}
        {% if isathlete %}
          <li><a href="/"><p>My Skills</p></a></li>
        {% endif %}
        {% if isadmin %}
          <li><a href="/admin"><p>Dashboard</p></a></li>
          <li><a href="/logout"><p>Logout</p></a></li>
        {% endif %}
        </ul>
      </header>
        <main>
          {% block body %}{{ super() }}{% endblock %}
        </main>
    </body>
</html>



