<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <title>SkillTree - A tech tree for gymnastics</title>
        <link rel="stylesheet" href="/static/style.css"></link>
        <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css"></link>
    </head>
    <body>
      <header class="main-header">
        <h5>SkillTree</h5>
        <ul>
          <li><a href="/">Home</a></li>
        {% if iscoach %}
          <li><a href="/">My Athletes</a></li>
        {% endif %}
        {% if isathlete %}
          <li><a href="/">My Skills</a></li>
        {% endif %}
        </ul>
      </header>
        <main>
          {% block body %}{{ super() }}{% endblock %}
        </main>
      <footer>
        <ul>
          <li><a href="/help">Help</a></li>
          <li><a href="/code-of-conduct">Code of Conduct</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="https://github.com/MoreTacos/skilltree">Code</a></li>
          <li><a href="https://daviderad.com/">© 2021 Davide Radaelli</a></li>
        </ul>
      </footer>
    </body>
</html>



