{{#*inline "body"}}
<div>
    <h1>The Skill Tree of Gymnastics</h1>
    <p>Log your progress using a skill tree</p>
    <p>Use <a href="/admin">admin</a> to add and remove users</p>
    <h3>List of users bellow:</h3>
    <ul class="user-list">
    {{#each users}}
        <li><a href="/{{this}}">{{this}}</a></li>
    {{/each}}
    </ul>
</div>
{{/inline}} {{>layout}}
