<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SkillTree - {{title}}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      {{>header}}
      <main>
        {{~> body}}
      </main>
    {{>footer}}
    </body>
</html>
