{{#*inline "body"}}
<div class="container">
    <h1>{{skill}}</h1>
    <div>
      <h3>What skill looks like</h3>
      <p></p>
      <h3>How to learn</h3>
      <p></p>
      <h3>Related skills</h3>
      <p></p>
    </div>
</div>
{{/inline}} {{>layout}}
