{{#*inline "body"}}
<div class="container">
  <h1>Admin</h1>
  <h5>Add users:</h5>
  <label for="name">Name:</label><br />
  <input id="name-input" type="text" />
  <button type="submit" id="add-user">
      Add User
  </button>
    <h5>Remove users:</h5>
    <ul id="user-list">
      {{#each this}}
      <li>
        <p>{{ this.username }}</p>
        <button class="remove-user">
          Remove
        </button>
      </li>
      {{/each}}
    </ul>
</div>
<script src="/static/admin.js"></script>
{{/inline}} {{>layout}}
