{{#*inline "body"}}
<div class="container">
    <h1>Need help?</h1>
    <p>See a bug? <a href="https://github.com/MoreTacos/skilltree/issues">File an issue!</a></p>
    <h2>F.A.Q.</h2>
    <h4>What is SkillTree?</h4>
    <p>SkillTree helps athletes and coach plan their progress in gymnastics.</p>
</div>
{{/inline}} {{>layout}}
