{% extends "layout" %}

{% block body %}
<div class="container">
    <h1>{{ this.username }}</h1>
    <ul class="tabs">
    {% for item in this.tabs %}
        <li><a href="/user?u={{ userhash }}&s={{ item.shortname }}">{{ item.fullname }}</a></li>
    {% endfor %}
    </ul>
    <div class="tree">{% block tree %}{{ super() }}{% endblock %}</div>
</div>
<script src="/static/user.js"></script>
{% endblock %}
